$space-32: 32px;
$space-24: 24px;
$space-16: 16px;
$space-12: 12px;
$space-8: 8px;
$space-4: 4px;
$space-2: 2px;

$main-radius: 12px;

$primary: #bbcde5;
$secondary: #42d9c8;
$cadetblue: #639fab;
$black: #222;
$white: #fff;
$yellow: #f0ce0a;
