@use "src/assets/scss/variables" as variables;

.quiz {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vw;
  max-height: 500px;

  &__loader {
    margin: auto;
    color: variables.$secondary !important;
  }
}
