@use "src/assets/scss/variables" as variables;

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: variables.$space-16;
  width: 50vw;
  height: 50vw;
  min-width: 260px;
  min-height: 260px;
  max-width: 300px;
  max-height: 300px;
  font-size: 1.5rem;
  padding: variables.$space-32;
  box-sizing: content-box;

  h2 {
    margin: 0;
    padding-bottom: variables.$space-16;
  }

  &__play-again-btn {
    margin-top: variables.$space-16;
    width: 160px;
  }
}

@media (max-width: variables.$breakpoint-mobile) {
  .result {
    width: 100%;
    height: 100vh;
    max-height: none;
    max-width: none;
    border-radius: 0;
    box-sizing: border-box;
  }
}
