@use "src/assets/scss/variables" as variables;

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: variables.$space-16;
  width: 50vw;
  height: 50vw;
  min-width: 260px;
  min-height: 260px;
  max-width: 300px;
  max-height: 300px;
  font-size: 1.5rem;

  h2 {
    margin: 0;
    padding-bottom: variables.$space-16;
  }
}
